@{
  Layout = "_Layout";
}

    <h1>My Notebook</h1>
    <p>@Html.ActionLink("My Notes", "Index", "Notes")</p>
    <p>@Html.ActionLink("New Note", "Create", "Notes")</p>
    <p>@Html.ActionLink("Note Categories", "Index", "Categories")</p>